// ======================================================================= //
//                    		      ellipsis           	                   //
// ======================================================================= //

@mixin ellipsis() {
	word-break: keep-all; white-space: nowrap; text-overflow: ellipsis; -o-text-overflow: ellipsis; overflow: hidden;
}